* {box-sizing: border-box;}
            
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("FOTO/Desserts/image.png");
}
  /* Header/Logo Title */
.headeer {
padding: 60px;
text-align: center;
bottom: 10px;
background: #1abc9c;
color: white;
font-size: 30px;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("FOTO/Desserts/image1.png");
background-repeat: no-repeat;
background-size: cover;
}
/* Nav bar */
        
.btopnav {
   overflow:hidden;
    background-color: pink;
  }

  
  
  .btopnav a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;

  }
  
  .bactive {
    background-color: pink;
    color: white;
  }
  
  .btopnav .bicon {
    display: none;
  }
  
 
 

.icons{
  padding: 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration:none;
    margin: 5px 2px;
    border-radius: 50%;
}
#ingredients{
  font-size: 40px;
    font-family: cursive;
    color: rgb(235, 119, 173);
    text-align: left;
    margin: 35px;

}
form{
  font-family: monospace,serif;
  margin: 35px;
  font-size: 19px;
}
dl dt {
  font-size: 40px;
  font-family: cursive;
  color: rgb(235, 119, 173);
  text-align: left;
  margin: 10px;
}
dl dd ol {
  font-family: monospace, serif;
  font-size: 19px;
  margin: 10px;
}
hr {
  height:5px;
  border:none;
  border-radius:10px;
  background: linear-gradient(to left,red,pink);
}
img{

  width:500px;
  height:500px;
  outline-style: double;
  outline-color: red;
}
a {
  text-decoration: none;
}
@-webkit-keyframes spin 
{
    from{-webkit-transform: rotateX(30deg); }
    to {-webkit-transform: rotateX(360deg);}
}

p .ImageSpin{
    animation-name: spin ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    -webkit-animation-name: spin;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
}
@keyframes spin {
    from {
       transform: rotateX(30deg)
   
       }
   to {
         transform: rotateX(360deg);
       }
      }


rotate3D:hover {
    transform: rotate3d(1,1,1,35deg);
}

.footer {
  color: rgb(183, 204, 223);
  background-color: rgba(235, 119, 173);
  padding-top: 20px;
  border-radius: 0%;
  
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration:none;
  margin: 5px 2px;
  border-radius: 50%;
}
.icons{
  padding: 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration:none;
    margin: 5px 2px;
    border-radius: 50%;
}


.nav {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 030px;
  padding: 20px;
}

.fa-twitter {
 
  color: white;
  
}

.fa-facebook {
  color: white;
}

.fa-youtube {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-pinterest {
  color: white;
}


#block_container {
  text-align: center;
}
#block_container > div {
  display: inline-block;
  vertical-align: middle;
}

/*emailus*/


  /*SIGN UP*/
  a{
  padding: 50px 50px 50px 32px;
  bottom: 150px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0s;
  }

  
  /* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
  
/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
  
  /* Set a style for all buttons */
button {
  padding: 10px 40px;
  border-radius: 12px;
  transition-duration: 0.4s;
  background-color: rgba(36, 34, 63, 0.863); 
  color:  rgb(183, 204, 223); 
  border: 2px solid black;
}
            
  button:hover {
    background-color: #000a00; /* Green */
    color: white;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 10px 40px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .signup-container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .signup-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .signup-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

   
  /* The Close Button (x) */
  .signup-close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .signup-close:hover,
  .signup-close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .signup-cancelbtn, .signupbtn {
       width: 100%;
    }
  }
  
  /*login*/

 
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
      padding: 10px 40px;
      border-radius: 12px;
      transition-duration: 0.4s;
      background-color: rgba(36, 34, 63, 0.863); 
      color:  rgb(183, 204, 223); 
      border: 2px solid black;
  }
  
  button:hover {
      background-color: #000a00; /* Green */
      color: white;
  }
  
  /* Extra styles for the cancel button */
  .login-cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .login-imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
 
  
  .login-container {
    padding: 16px;
  }
  
  span.login-psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .login-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(0, 0, 0); /* Black w/ opacity */
    padding-top: 60px;
    background-color: #474e5d;
  }
  
  /* Modal Content/Box */
  .login-modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .login-close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .login-close:hover,
  .login-close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .login-animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.login-psw {
       display: block;
       float: none;
    }
    .login-cancelbtn {
       width: 100%;
    }
  }
 

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: none;
}