* {box-sizing: border-box;}
            
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("FOTO/Desserts/image.png");
}
  /* Header/Logo Title */
.headeer {
padding: 60px;
text-align: center;
bottom: 10px;
background: #1abc9c;
color: white;
font-size: 30px;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("FOTO/Desserts/image1.png");
background-repeat: no-repeat;
background-size: cover;
}
/* Nav bar */
        
.btopnav {
   overflow:hidden;
    background-color: pink;
  }

  
  
  .btopnav a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;

  }
  
  .bactive {
    background-color: pink;
    color: white;
  }
  
  .btopnav .bicon {
    display: none;
  }
  
 
 

.icons{
  padding: 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration:none;
    margin: 5px 2px;
    border-radius: 50%;
}
#ingredients{
  font-size: 40px;
    font-family: cursive;
    color: rgb(235, 119, 173);
    text-align: left;
    margin: 35px;

}
form{
  font-family: monospace,serif;
  margin: 35px;
  font-size: 19px;
}
dl dt {
  font-size: 40px;
  font-family: cursive;
  color: rgb(235, 119, 173);
  text-align: left;
  margin: 10px;
}
dl dd ol {
  font-family: monospace, serif;
  font-size: 19px;
  margin: 10px;
}
hr {
  height:5px;
  border:none;
  border-radius:10px;
  background: linear-gradient(to left,red,pink);
}
img{

  width:500px;
  height:500px;
  outline-style: double;
  outline-color: red;
}