* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html
{
    overflow: scroll;
}

.header{

    background-image: url("Foto/Drinks/picture.jpg");
 
    background-size:cover;
        padding: 60px;
        text-align: center;
        color: white;
        font-size: 30px;
      
}
body 
{


    background-image:url("Foto/Drinks/back.jpg");


}
.icon-bar
{

background:rgb(166, 146, 187) ;
text-align: center;

}
.icon-bar ul
{
display: inline-flex;
list-style:none ;
color: #fff;
}
.icon-bar ul li 
{
    width: 180px;
    margin: 10px;
    padding: 10px;

}
.icon-bar ul li a{
    text-decoration:none ;
    color: rgb(255, 255, 255);
}
.active,.icon-bar ul li :hover
{
background-color: rgb(120, 101, 138);
border-radius: 3px;
}
.icon-bar .a
{
margin-right: 10px;
}

.menu
{
    display: block;
    position: relative;
}

.menu .sidebar 
{
    position:absolute;
    width:200px;
    padding: 30px;
    
}
.menu .sidebar h2 
{
    color:rgb(120, 101, 138);
    text-transform: uppercase;
    text-align: center;
    margin-bottom:30px ;
}
.menu .sidebar ul{

display: inline;
width:100%;
background-color: rgb(120, 101, 138);


}
.menu .sidebar ul li{
    padding: 15px;
    color: rgb(120, 101, 138);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(225, 225, 225, 0.5);

}

.container
{
 width:1150px;
  margin: 10px auto;
  display:inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  float: right;
  margin-right: 100px;
  

}
.container .box1
{

position: relative;
width:360px;
height:360px;
background: plum;
margin: 10px;

box-sizing:border-box ;
display: inline-block;
}
.container .box1 .imagebox
{
    position: relative;
    overflow: hidden;
}
.container .box1 .imagebox img
{
 max-width: 100%;   
transition: transform 2s;
}

.container .box1:hover .imagebox img
{

transform: scale(1.2);
}

.container .box1 .details
{

position: absolute;
top:10px;
left: 10px;
bottom:10px;
right:10px;
background: rgba(0,0,0,.8) ;
transform: scaleY(0);
transition:transform .5s ;

}
.container .box1:hover .details
{
    transform: scaleY(1);

}
.container .box1 .details .content
{

position: absolute;
top:50%;
transform: translateY(-50%);
text-align: center;
padding: 15px;
color:white;
}

.container .box1 .details .content .h2
{
    margin:0;
    padding: 0;
    font-size: 20px;
color:white;
}
.container .box1 .details .content .p
{
    margin:10px 0 0;
    padding: 0;
}







.container .box2
{

position: relative;
width:360px;
height:360px;
background: plum;
margin: 10px;

box-sizing:border-box ;
display: inline-block;
}
.container .box2 .imagebox
{
    position: relative;
    overflow: hidden;
}
.container .box2 .imagebox img
{
 max-width: 100%;   
transition: transform 2s;
}

.container .box2:hover .imagebox img
{

transform: scale(1.2);
}

.container .box2 .details
{

position: absolute;
top:10px;
left: 10px;
bottom:10px;
right:10px;
background: rgba(0,0,0,.8) ;
transform: scaleY(0);
transition:transform .5s ;

}
.container .box2:hover .details
{
    transform: scaleY(1);

}
.container .box2 .details .content
{

position: absolute;
top:50%;
transform: translateY(-50%);
text-align: center;
padding: 15px;
color:white;
}

.container .box2 .details .content .h2
{
    margin:0;
    padding: 0;
    font-size: 20px;
color:white;
}
.container .box2 .details .content .p
{
    margin:10px 0 0;
    padding: 0;
}







.container .box3
{

position: relative;
width:360px;
height:360px;
background: plum;
margin: 10px;

box-sizing:border-box ;
display: inline-block;
}
.container .box3 .imagebox
{
    position: relative;
    overflow: hidden;
}
.container .box3 .imagebox img
{
 max-width: 100%;   
transition: transform 2s;
}

.container .box3:hover .imagebox img
{

transform: scale(1.2);
}

.container .box3 .details
{

position: absolute;
top:10px;
left: 10px;
bottom:10px;
right:10px;
background: rgba(0,0,0,.8) ;
transform: scaleY(0);
transition:transform .5s ;

}
.container .box3:hover .details
{
    transform: scaleY(1);

}
.container .box3 .details .content
{

position: absolute;
top:50%;
transform: translateY(-50%);
text-align: center;
padding: 15px;
color:white;
}

.container .box3 .details .content .h2
{
    margin:0;
    padding: 0;
    font-size: 20px;
color:white;
}
.container .box3 .details .content .p
{
    margin:10px 0 0;
    padding: 0;
}




.container .box4
{

position: relative;
width:360px;
height:360px;
background: plum;
margin: 10px;

box-sizing:border-box ;
display: inline-block;
}
.container .box4 .imagebox
{
    position: relative;
    overflow: hidden;
}
.container .box4 .imagebox img
{
 max-width: 100%;   
transition: transform 2s;
}

.container .box4:hover .imagebox img
{

transform: scale(1.2);
}

.container .box4 .details
{

position: absolute;
top:10px;
left: 10px;
bottom:10px;
right:10px;
background: rgba(0,0,0,.8) ;
transform: scaleY(0);
transition:transform .5s ;

}
.container .box4:hover .details
{
    transform: scaleY(1);

}
.container .box4 .details .content
{

position: absolute;
top:50%;
transform: translateY(-50%);
text-align: center;
padding: 15px;
color:white;
}

.container .box4 .details .content .h2
{
    margin:0;
    padding: 0;
    font-size: 20px;
color:white;
}
.container .box4 .details .content .p
{
    margin:10px 0 0;
    padding: 0;
}





.container .box5
{

position: relative;
width:360px;
height:360px;
background: plum;
margin: 10px;

box-sizing:border-box ;
display: inline-block;
}
.container .box5 .imagebox
{
    position: relative;
    overflow: hidden;
}
.container .box5 .imagebox img
{
 max-width: 100%;   
transition: transform 2s;
}

.container .box1:hover .imagebox img
{

transform: scale(1.2);
}

.container .box5 .details
{

position: absolute;
top:10px;
left: 10px;
bottom:10px;
right:10px;
background: rgba(0,0,0,.8) ;
transform: scaleY(0);
transition:transform .5s ;

}
.container .box5:hover .details
{
    transform: scaleY(1);

}
.container .box5 .details .content
{

position: absolute;
top:50%;
transform: translateY(-50%);
text-align: center;
padding: 15px;
color:white;
}

.container .box5 .details .content .h2
{
    margin:0;
    padding: 0;
    font-size: 20px;
color:white;
}
.container .box5 .details .content .p
{
    margin:10px 0 0;
    padding: 0;
}



#cold
{
    text-align: ;
color:rgb(120, 101, 138);
}
