 *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;}

html
{
    overflow: scroll;
}

.headeer {
    padding: 60px;
    text-align: center;
    bottom: 10px;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("Foto/Drinks/110.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body 
{


  background-image:url("Foto/Drinks/back.jpg");


}

.cont
{
  height:100pv;
  width:100%;
  background-image:url("Foto/Drinks/back.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   transition: 5s;

   animation-name: animate ;
   animation-direction:alternate-reverse ;
   animation-duration:30s ;
   animation-fill-mode: forwards;
   animation-timing-function:infinite ;
   animation-play-state:running ;
   animation-timing-function: ease-in-out;
}

@keyframes animate
{
0%{
  background-image:url("Foto/Drinks/back4.png");
}
20%{
  background-image:url("Foto/Drinks/back3.png");
}
40%{
  background-image:url("Foto/Drinks/back2.png");
}
60%{
  background-image:url("Foto/Drinks/back1.jpg");
}


}




.container
{
 width:1550px;
  margin: 10px auto;
  display:inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 100px;
 
}

.container .box1
{

position: relative;
width:340px;
height:340px;
background: plum;
margin: 20px;

box-sizing:border-box ;
display: inline-block;
}
.container .box1 .imagebox
{
    position: relative;
    overflow: hidden;
}
.container .box1 .imagebox img
{
 max-width: 100%;   
transition: transform 2s;
}

.container .box1:hover .imagebox img
{

transform: scale(1.2);
}

.container .box1 .details
{

position: absolute;
top:20px;
left: 20px;
bottom:20px;
right:20px;
background: rgba(0,0,0,.8) ;
transform: scaleY(0);
transition:transform .5s ;

}
.container .box1:hover .details
{
    transform: scaleY(1);

}
.container .box1 .details .content
{

position: absolute;
top:50%;
transform: translateY(-50%);
text-align: center;
padding: 15px;
color:white;
}

.container .box1 .details .content .h2
{
    margin:0;
    padding: 0;
    font-size: 20px;
color:white;
}
.container .box1 .details .content .p
{
    margin:10px 0 0;
    padding: 0;
}







.container .box2
{

position: relative;
width:340px;
height:340px;
background: plum;
margin: 20px;

box-sizing:border-box ;
display: inline-block;
}
.container .box2 .imagebox
{
    position: relative;
    overflow: hidden;
}
.container .box2 .imagebox img
{
 max-width: 100%;   
transition: transform 2s;
}

.container .box2:hover .imagebox img
{

transform: scale(1.2);
}

.container .box2 .details
{

position: absolute;
top:10px;
left: 10px;
bottom:10px;
right:10px;
background: rgba(0,0,0,.8) ;
transform: scaleY(0);
transition:transform .5s ;

}
.container .box2:hover .details
{
    transform: scaleY(1);

}
.container .box2 .details .content
{

position: absolute;
top:50%;
transform: translateY(-50%);
text-align: center;
padding: 15px;
color:white;
}

.container .box2 .details .content .h2
{
    margin:0;
    padding: 0;
    font-size: 20px;
color:white;
}
.container .box2 .details .content .p
{
    margin:10px 0 0;
    padding: 0;
}







.container .box3
{

position: relative;
width:340px;
height:340px;
background: plum;
margin: 20px;

box-sizing:border-box ;
display: inline-block;
}
.container .box3 .imagebox
{
    position: relative;
    overflow: hidden;
}
.container .box3 .imagebox img
{
 max-width: 100%;   
transition: transform 2s;
}

.container .box3:hover .imagebox img
{

transform: scale(1.2);
}

.container .box3 .details
{

position: absolute;
top:10px;
left: 10px;
bottom:10px;
right:10px;
background: rgba(0,0,0,.8) ;
transform: scaleY(0);
transition:transform .5s ;

}
.container .box3:hover .details
{
    transform: scaleY(1);

}
.container .box3 .details .content
{

position: absolute;
top:50%;
transform: translateY(-50%);
text-align: center;
padding: 15px;
color:white;
}

.container .box3 .details .content .h2
{
    margin:0;
    padding: 0;
    font-size: 20px;
color:white;
}
.container .box3 .details .content .p
{
    margin:10px 0 0;
    padding: 0;
}




.container .box4
{

position: relative;
width:340px;
height:340px;
background: plum;
margin: 20px;

box-sizing:border-box ;
display: inline-block;
}
.container .box4 .imagebox
{
    position: relative;
    overflow: hidden;
}
.container .box4 .imagebox img
{
 max-width: 100%;   
transition: transform 2s;
}

.container .box4:hover .imagebox img
{

transform: scale(1.2);
}

.container .box4 .details
{

position: absolute;
top:10px;
left: 10px;
bottom:10px;
right:10px;
background: rgba(0,0,0,.8) ;
transform: scaleY(0);
transition:transform .5s ;

}
.container .box4:hover .details
{
    transform: scaleY(1);

}
.container .box4 .details .content
{

position: absolute;
top:50%;
transform: translateY(-50%);
text-align: center;
padding: 15px;
color:white;
}

.container .box4 .details .content .h2
{
    margin:0;
    padding: 0;
    font-size: 20px;
color:white;
}
.container .box4 .details .content .p
{
    margin:10px 0 0;
    padding: 0;
}





.container .box5
{

position: relative;
width:340px;
height:340px;
background: plum;
margin: 20px;

box-sizing:border-box ;
display: inline-block;
}
.container .box5 .imagebox
{
    position: relative;
    overflow: hidden;
}
.container .box5 .imagebox img
{
 max-width: 100%;   
transition: transform 2s;
}

.container .box1:hover .imagebox img
{

transform: scale(1.2);
}

.container .box5 .details
{

position: absolute;
top:10px;
left: 10px;
bottom:10px;
right:10px;
background: rgba(0,0,0,.8) ;
transform: scaleY(0);
transition:transform .5s ;

}
.container .box5:hover .details
{
    transform: scaleY(1);

}
.container .box5 .details .content
{

position: absolute;
top:50%;
transform: translateY(-50%);
text-align: center;
padding: 15px;
color:white;
}

.container .box5 .details .content .h2
{
    margin:0;
    padding: 0;
    font-size: 20px;
color:white;
}
.container .box5 .details .content .p
{
    margin:10px 0 0;
    padding: 0;
}



.cold
{
    text-align: center;
color:rgb(120, 101, 138);
margin: 50px;
    font-weight: bold;
}


hr {
    height:5px;
    border:none;
    border-radius:10px;
    background: linear-gradient(to left,rgb(75, 4, 69),plum);
  }


/* Nav bar */
        
.btopnav {
    overflow: hidden;
    background-color: rgb(224, 101, 224);
  }
  
  .btopnav a {
    float:none;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  
  
  .bactive {
      
    background-color: rgb(224, 101, 224);
    color: white;
  }
  
  .btopnav .bicon {
      
    display: none;
  }
  
  .bdropdown {
      
    float: left;
    overflow: hidden;
  }
  
  .bdropdown .bdropbtn {
      
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .bdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px purple;
    z-index: 1;
  }
  
  .bdropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .btopnav a:hover, .bdropdown:hover .bdropbtn {
    background-color: rgb(201, 27, 207);
    color: white;
  }
  
  .bdropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .bdropdown:hover .bdropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    .btopnav a:not(:first-child), .bdropdown .bdropbtn {
      display: none;
    }
    .btopnav a.bicon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .btopnav.bresponsive {position: relative;}
    .btopnav.bresponsive .bicon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .btopnav.bresponsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .btopnav.bresponsive .bdropdown {float: none;}
    .btopnav.bresponsive .bdropdown-content {position: relative;}
    .btopnav.bresponsive .bdropdown .bdropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }


  
/*Pjesa footer*/

.footer {
    color: rgb(215, 183, 223);
    background-color: rgba(129, 58, 143, 0.863);
    padding-top: 20px;
    border-radius: 0%;
    
  }
  
  .fa {
    padding: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration:none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .nav {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    font-size: 030px;
    padding: 20px;
  }
  
  .fa-twitter {
   
    color: white;
    
  }
  
  .fa-facebook {
    color: white;
  }
  
  .fa-youtube {
    color: white;
  }
  
  .fa-instagram {
    color: white;
  }
  
  .fa-pinterest {
    color: white;
  }
  
  
  #block_container {
    text-align: center;
  }
  #block_container > div {
    display: inline-block;
    vertical-align: middle;
  }
  
  /*emailus*/
  .emailus {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 250px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(148, 58, 136); 
    background-color: rgba(160, 36, 135, 0); 
  }
  .emailus-content {
    background-color: #c783bcd2;
    margin: auto;
    padding: 100px;
    border: 1px solid #c98eb79f;
    width: 100%;
  }
  
  .emailus-close {
    color: #ce4eb2;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
              
  .emailus-close:hover,
  .emialus-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #emailusBtn {
    padding: 10px 40px;
    border-radius: 12px;
  }
  
  #emailusBtn {
    transition-duration: 0.4s;
    background-color: rgba(36, 34, 63, 0.863); 
    color:  rgb(183, 204, 223); 
    border: 2px solid black;
  }
  
  #emailusmyBtn:hover {
    background-color: #000a00; /* Green */
    color: white;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
    /*SIGN UP*/
   
    
  
    
    /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
    
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
    
    /* Set a style for all buttons */
  button {
    padding: 10px 40px;
    border-radius: 12px;
    transition-duration: 0.4s;
    background-color: rgba(63, 34, 62, 0.863); 
    color:  rgb(183, 204, 223); 
    border: 2px solid rgb(0, 0, 0);
  }
              
    button:hover {
      background-color: #000a00; /* Green */
      color: white;
    }
    
    /* Extra styles for the cancel button */
    .cancelbtn {
      padding: 10px 40px;
      background-color: #610955;
    }
    
    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn, .signupbtn {
      float: left;
      width: 50%;
    }
    
    /* Add padding to container elements */
    .signup-container {
      padding: 16px;
    }
    
    /* The Modal (background) */
    .signup-modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: #474e5d;
      padding-top: 50px;
    }
    
    /* Modal Content/Box */
    .signup-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }
    
    /* Style the horizontal ruler */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
     
    /* The Close Button (x) */
    .signup-close {
      position: absolute;
      right: 35px;
      top: 15px;
      font-size: 40px;
      font-weight: bold;
      color: #f1f1f1;
    }
    
    .signup-close:hover,
    .signup-close:focus {
      color: #f44336;
      cursor: pointer;
    }
    
    /* Clear floats */
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    
    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {
      .signup-cancelbtn, .signupbtn {
         width: 100%;
      }
    }
    
    /*login*/
    body {font-family: Arial, Helvetica, sans-serif;}
    
    /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
        padding: 10px 40px;
        border-radius: 12px;
        transition-duration: 0.4s;
        background-color: rgba(36, 34, 63, 0.863); 
        color:  rgb(183, 204, 223); 
        border: 2px solid black;
    }
    
    button:hover {
        background-color: #000a00; /* Green */
        color: white;
    }
    
    /* Extra styles for the cancel button */
    .login-cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    
    /* Center the image and position the close button */
    .login-imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }
    
    img.login-avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    .login-container {
      padding: 16px;
    }
    
    span.login-psw {
      float: right;
      padding-top: 16px;
    }
    
    /* The Modal (background) */
    .login-modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      padding-top: 60px;
    }
    
    /* Modal Content/Box */
    .login-modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }
    
    /* The Close Button (x) */
    .login-close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }
    
    .login-close:hover,
    .login-close:focus {
      color: red;
      cursor: pointer;
    }
    
    /* Add Zoom Animation */
    .login-animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)} 
      to {-webkit-transform: scale(1)}
    }
      
    @keyframes animatezoom {
      from {transform: scale(0)} 
      to {transform: scale(1)}
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.login-psw {
         display: block;
         float: none;
      }
      .login-cancelbtn {
         width: 100%;
      }
    }
   
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: none;
  }