/*Pjesa perfshirese*/
html{
  background-color: rgba(0, 0, 0, 0.822);
}

/*PJESA  E BODY*/
/*Pjesa header*/
header{
  
  height: 745px;
}
.image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("FOTO/Main/1.jpg");
  height: 100%;
  width: 100%;
 background-position: fixed;
 background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
}


.text1 {
  text-align: center;
  position: absolute;
  bottom: 150px;
  left: 100px;
  color: white;
}

.sidenav {
  text-align: center;
  
  height: 100%; 
  width: 0; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color:  rgb(0, 0, 0); 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}


.sidenav a {
  padding: 50px 50px 50px 32px;
  bottom: 150px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0s;
}


.sidenav a:hover {
  color: #465463;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*Pjesa main*/

#row  {
display: inline-block;
vertical-align: middle;
}

#row1  {
  display: inline-block;
  vertical-align: middle;
  }

/* Krijimi i dy kolonave qe rrine pran njeratjetres */
/* pjesa about us */

.container-fluide {
  margin-top: 15px;
  padding: 60px 50px;
  background-color: #fec8d8b4;
}


.container-fluid1 {
  padding: 60px 50px;
}

.col-sm-8 {
  /* IE10 */
 
   width: 60%;
   padding-left: 10px;
   margin-left: 10px;
   margin-top: 15px;
   margin-bottom: 15px;
   float: left;
   font-style: italic;
   
 border-radius: 5px;


}
.col-sm-4 {   
  -ms-flex: 70%; /* IE10 */
  width: 30%;
  float:right;
  margin-top: 15px;
    margin-bottom: 15px;
  margin-left: 10px;
  
  padding: 20px;
  border-radius: 5px;
}

.col-sm-41{
  /* IE10 */
 
   width: 30%;
   padding-left: 10px;
   margin-left: 90px;
   margin-top: 100px;
   margin-bottom: 15px;
   float: left;
   font-style: italic;
   
 border-radius: 5px;


}
.col-sm-81 {   
  -ms-flex: 70%; /* IE10 */
  width: 58%;
  float:right;
  margin-top: 15px;
    margin-bottom: 15px;
  margin-left: 10px;
  
  padding: 20px;
  border-radius: 5px;
}

.container-fluid1 {
  padding: 60px 50px;
}
.a >div{
display: inline-block;
vertical-align: middle;
}

.teksti{
  margin-left: 20px;
  color: #f0d1f2cb;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

.card {
  width: 400px;
  height: 360px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 2rem 1rem;
  background: pink;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0, 5);
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(20px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(230, 229, 199, 0.5),
    rgb(245, 159, 0)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(20px);
}

.card .info h1 {
  margin: 0;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 20px;

}
.map{
align-items: center;
}
/*footer*/

/*Pjesa footer*/
a {
  text-decoration: none;
}

.footer {
  color: rgb(183, 204, 223);
  background-color: rgba(36, 34, 63, 0.863);
  padding-top: 20px;
  border-radius: 0%;
  
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration:none;
  margin: 5px 2px;
  border-radius: 50%;
}
.icons{
  padding: 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration:none;
    margin: 5px 2px;
    border-radius: 50%;
}


.nav {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 030px;
  padding: 20px;
}

.fa-twitter {
 
  color: white;
  
}

.fa-facebook {
  color: white;
}

.fa-youtube {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-pinterest {
  color: white;
}


#block_container {
  text-align: center;
}
#block_container > div {
  display: inline-block;
  vertical-align: middle;
}

/*emailus*/


  /*SIGN UP*/
  a{
  padding: 50px 50px 50px 32px;
  bottom: 150px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0s;
  }

  
  /* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
  
/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
  
  /* Set a style for all buttons */
button {
  padding: 10px 40px;
  border-radius: 12px;
  transition-duration: 0.4s;
  background-color: rgba(36, 34, 63, 0.863); 
  color:  rgb(183, 204, 223); 
  border: 2px solid black;
}
            
  button:hover {
    background-color: #000a00; /* Green */
    color: white;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 10px 40px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .signup-container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .signup-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .signup-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

   
  /* The Close Button (x) */
  .signup-close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .signup-close:hover,
  .signup-close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .signup-cancelbtn, .signupbtn {
       width: 100%;
    }
  }
  
  /*login*/

 
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
      padding: 10px 40px;
      border-radius: 12px;
      transition-duration: 0.4s;
      background-color: rgba(36, 34, 63, 0.863); 
      color:  rgb(183, 204, 223); 
      border: 2px solid black;
  }
  
  button:hover {
      background-color: #000a00; /* Green */
      color: white;
  }
  
  /* Extra styles for the cancel button */
  .login-cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .login-imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
 
  
  .login-container {
    padding: 16px;
  }
  
  span.login-psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .login-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(0, 0, 0); /* Black w/ opacity */
    padding-top: 60px;
    background-color: #474e5d;
  }
  
  /* Modal Content/Box */
  .login-modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .login-close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .login-close:hover,
  .login-close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .login-animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.login-psw {
       display: block;
       float: none;
    }
    .login-cancelbtn {
       width: 100%;
    }
  }
 

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: none;
}
