html{
    background-color:transparent;
    
    }
    
    body{  
        background-image:url("foto/Backgroundi/ajo.jpg");
        background-size: cover;
        background-attachment: fixed;
        max-width: width cover;
    color: rgb(42, 42, 42);
        margin: 0 auto;
    }
    
    nav li:hover
    {
        font-weight: 700;
        font-size: 1.4em;
        cursor: pointer;
    }
    header nav
    {
        position: fixed;
        top: 0;
        width: 100%;
    }
    #navi
    {
        padding-left: 800px;
    }
    main
    {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    nav li
    {
        display: inline-block;
        list-style: none;
        padding: 3px 20px 0px 20px;
        margin: 0px 0px px 0px;
        font-size: 1.3em;
        height: 30px;
        transition: font-size 0.5s;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    footer {
        clear: both;	
        background: url("footer/footer_lodyas.png") repeat fixed center;	
        color: #C3C3C3;
          padding: 0.1rem;
    }
    
    footer div 
    {
        margin: auto;
        bottom: 0;
        width: 100%;
    }
    
    #social 
    {
        width: 50%;
        float: left;
    }
    
    #contact 
    {
        width: 40%;
        float: right;
        margin-left: 10%;
        margin-bottom: 40px;	
    }
        
    #footer 
    {
        width: 80%;
        padding: 50px;
        padding-top: 10px;	
        margin-bottom: 40px;	
    }
        
    #copyright
    {
        clear: both; 
        width: 100%;
        text-align: center;
    }
    
    #social a img 
    {
        margin-right: 5px;	
    }
    
    .forma legend
    {
        font-size: 2em;
        text-shadow: 1px 1px coral;
    }
    .forma
    {
        font-size: 1.2em;
    }
    .forma fieldset
    {
        background-image: url("Foto/Food/background.jpg");
        border-radius: 4px;
    }
    .forma label
    {
        font-weight: bold;
    }
    .forma input[type=submit], .forma input[type=reset]
    {
        font-size: 1.1em;
        padding: 8px;
        /*background-color: coral;*/
        background: linear-gradient(to bottom right, coral,rgb(177, 10, 27));
        border: none;   
        border-radius: 2px;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .forma input[type=submit]:hover, .forma input[type=reset]:hover
    {
        background-color: rgb(233, 116, 74);
        cursor: pointer;
    }
    a
    {
        text-decoration: none;
        color: black;
    }
    .forma input[type=text], .forma input[type=password], .forma input[type=email], .forma textarea, .forma input[type=date], .forma select
    {
        border-radius: 5px;
        float: right;
        padding-right: 40px;
    }
    form 
    {
      width: 100%;
      /*background-color: #fff;
      border: 1px solid #ccc;*/
      line-height: 1.42857143;
    }	
    
    form:focus 
    {
      border-color: #66afe9;
      
    }
    
    form input 
    {
      line-height: 1.6;
    }